{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="card p-4 m-4" style="background-color: transparent;">
        <h1 class="card-title">Welcome to Unit Converter</h1>
        <p class="card-text">
            Our Unit Converter app allows you to easily convert between different units of measurement for length,
            weight,
            and temperature.
            Whether you need to convert meters to feet, kilograms to pounds, or Celsius to Fahrenheit, we've got you
            covered.
            Use the navigation links above to select the type of conversion you need.
        </p>
    </div>
</div>
{% endblock %}